/* ====================
Global Styles
==================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.section-about,
.section-services,
.section-choose-us,
.section-call-to-action {
  padding: 3rem 1rem;
}

.section-services,
.section-call-to-action {
  flex-direction: column;
  align-items: center;
}


/* ====================
Global Typography
==================== */

.hero-small-txt,
.hero-title,
.hero-txt,
.about-us-title,
.about-us-txt,
.services-title,
.services-txt,
.choose-us-title,
.choose-us-txt,
.call-to-action-title,
.choose-us-wrapper-title,
.choose-us-wrapper-txt {
  text-align: center;
}

.about-us-title,
.services-title,
.choose-us-title {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.25;
}

.section-about,
.section-services,
.section-choose-us,
.section-call-to-action {
  font-family: "Lato", sans-serif;
}

.about-us-txt,
.services-txt,
.choose-us-txt {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  opacity: .9;
}

.hero-btn {
  font-family: "Lato", sans-serif;
}

/* ====================
Typography
==================== */

/* --- hero --- */

.section-hero {
  font-size: "Playfair Display", serif;
}

.hero-title,
.hero-txt,
.hero-small-txt{
  color: #FAF9F6;
  text-align: center;
}

.hero-small-txt {
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: 2px;
  opacity: .8;
}

.hero-title {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1;
}

.hero-txt {
  font-weight: 100;
  line-height: 1.5em;
  opacity: .8;
}

.hero-btn {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-size: 1.15rem;
  font-weight: 900;
  letter-spacing: 1px;
}

/* --- about us --- */

.business-info-container {
  font-style: normal;
}

.address,
.phone {
  text-decoration: none;
  color: inherit;
}

.info-container {
  align-self: flex-start;
}

.address-txt,
.phone-txt,
.hours-txt {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.25rem;
  line-height: 1;
}

.address-info,
.phone-info,
.hours-line {
  font-weight: 300;
  opacity: .9;
}

.experience-years,
.five-star {
  font-size: 2em;
  font-weight: 600;
}

.ratings-txt,
.experience-txt {
  font-weight: 600;
}

/* --- services --- */

.services-info-title {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: .9;
}

.services-info-txt {
  font-weight: 300;
  line-height: 1.2;
}

/* --- image banner --- */

.img-banner-txt-one,
.img-banner-txt-two,
.img-banner-txt-three {
  color: white;
  font-size: 2rem;
}

/* --- choose us --- */

.choose-us-wrapper-title {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.choose-us-wrapper-txt {
  font-weight: 300;
  line-height: 1.2;
}

/* --- call to action --- */

.call-to-action-title {
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 900;
}

/* ====================
Styling
==================== */

/* --- hero --- */

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-logo {
  height: 8rem;
  text-align: center;
  margin-block: .5em;
}

.section-hero {
  background-image: url(./img/barber-hero.jpg),linear-gradient(to bottom, #030a02f1 10%, #0c12063c  45%, #030a02fb 90%);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100svh;
  position: relative;
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  margin-bottom: 5rem;
}

.hero-title {
  margin-bottom: .5em;
}

.hero-btn {
  display: inline-block;
  margin-block: 1em;
  margin-inline: auto;
  padding: .65em 3.5em;
  transition: background-color .5s;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: transparent;
}

.social-link {
  display: inline-block;
  margin-bottom: 1.5rem;
}

.hero-instagram {
  color: white;
}

/* --- about us --- */

.business-info-container {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.business-info-container,
.about-img {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.304);
}

.address,
.phone,
.hours {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 300px;
}

.svg-wrapper {
  border: 1px solid #000000;
  align-self: start;
  padding: 10px;
}

.address-svg-wrapper {
  padding: 10px 10px 7px 10px;
}

.phone-svg-wrapper {
  padding: 10px 10px 6px 10px;
}

.hours-svg-wrapper {
  padding: 10px 9px 7px 10px;
}

.address-svg,
.phone-svg,
.hours-svg {
  color: #000000;
}

.address-txt,
.phone-txt,
.hours-txt {
  margin-bottom: .25rem;
}

.about-img {
  width: 100%;
}

.about-us-title {
  margin-block: 1em .5em;
}

.about-us-txt {
  margin-bottom: 1.5em;
}

.ratings-container {
  margin-bottom: 1rem;
  gap: 1rem;
}

.ratings,
.experience {
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.experience-years,
.five-star {
  align-items: center;
}

.rating-svg,
.experience-svg {
  height: 35px;
  width: 35px;
}

.rating-svg {
  transform: translateY(1px);
}

/* --- services --- */

.section-services {
  padding: 0rem 1rem 3rem 1rem;
}

.services-title {
  margin-block: 0em .5em;
}

.services-txt {
  margin-bottom: 3rem;
}

.services-container {
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.304);
}

.services-wrapper {
  margin-inline: auto;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.services-info-title {
  margin-bottom: .5em;
}

.services-info-txt {
  margin-bottom: 3em;
}

.services-img {
  width: 25%;
  max-width: 80px;
}

.services-info-wrapper {
  width: 75%;
}

/* --- banner section --- */

.img-banner-container-one,
.img-banner-container-two,
.img-banner-container-three {
  max-height: 250px;
  overflow: hidden;
  grid-template: 1rem 1fr 1rem / 1rem 1fr 1rem;
  background-color: #fff;
  transition: background-color .3s;
}

.img-banner-container-one:hover,
.img-banner-container-two:hover,
.img-banner-container-three:hover {
  background-color: #000;
}
 
.img-banner-container-one:not(:hover),
.img-banner-container-two:not(:hover),
.img-banner-container-three:not(:hover){
  transition: background-color .8s;
}

.img-banner-container-one img,
.img-banner-container-two img,
.img-banner-container-three img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  transition: transform 2.5s, opacity .8s;
  opacity: .85;
  display: block;
  width: 100%;
}

.img-banner-container-one img:hover,
.img-banner-container-two img:hover,
.img-banner-container-three img:hover {
  transform: scale(1.1);
  opacity: .5;
}

.img-banner-txt-one,
.img-banner-txt-two,
.img-banner-txt-three {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s;
}

.img-banner-txt-appear {
  opacity: 1;
}

/* --- choose us --- */

.section-choose-us {
  display: flex;
  flex-direction: column;
}

.choose-us-wrapper-title {
  margin-bottom: .5em;
}

.choose-us-wrapper-txt {
  margin-bottom: 1em;
}

.choose-us-img {
  width: 100%;
}

/* --- choose us --- */

.choose-us-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-us-title {
  margin-bottom: .5em;
}

.choose-us-txt {
  margin-bottom: 1.25em;
}

.choose-us-img {
  width: 60px;
}

/* --- call to action --- */

.section-call-to-action {
  background-color: #0000007e;
  background-blend-mode: multiply;
}

.section-call-to-action {
  background-image: url(./img/call-to-action.png);
  background-size: cover;
  background-position: center;
}

/* --- map --- */

.section-map {
  background-color: black;
}

.map-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 400px;
  opacity: .85;
  display: block;
}

/* --- footer --- */

.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container > img {
  height: 50px;
}

.footer-credit-container {
  background-color: #000000;
  width: 100%;
  text-align: center;
  padding-block: .5em
}

.footer-credit {
  color: white;
  font-style: normal;
  text-decoration: none;
  opacity: .8;
  font-weight: 300;
  font-size: 1rem;
}

.designer-link {
  text-decoration: none;
  color: white;
}

.designer-link:hover,
.designer-link:focus {
  text-decoration: underline;
}


/* ====================
Media Queries
==================== */

@media (min-width: 400px) {

  html {
    font-size: 105%;
  }

  .hero-title {
    font-size: 3rem;
    margin-bottom: .5em;
  }
  .hero-small-txt {
    font-size: 1rem;
  }
  .hero-txt {
    font-size: 1.2rem;
  }
  .hero-btn {
    font-size: 1.5rem;
  }

  .hero-instagram {
    height: 50px;
    width: 50px;
  }

}

:root {
  --clr-primary: #fbfff3;
  --clr-secondary: #042008;
  --clr-accent: #0d5718;
  --clr-dark: #2d1805;
  --clr-light: #ffffff;
  --clr-black: #0c0c0c;
}

.section-about {
  background-color: var(--clr-primary);
}

.rating-svg,
.experience-svg {
  color: var(--clr-accent);
}

.section-services {
  background-color: var(--clr-primary);
}

.services-container {
  border: none;
  background-color: var(--clr-light);
  border-radius: 2px;
}

.section-choose-us {
  background-color: var(--clr-primary);
}

.business-info-container {
  border: none;
  background-color: var(--clr-light);
  color: var(--clr-black);
  border-radius: 2px;
}

.hero-btn {
  background-color: var(--clr-dark);
  font-family: "Playfair Display", serif;
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 2px;
  width: 100%;
  text-align: center;
}

.about-img {
  border-radius: 2px;
}

.page-footer {
  background-color: var(--clr-secondary);
}

.choose-us-wrapper-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: var(--clr-accent);
  margin-top: 5px;
  margin-inline: auto;
}