/* ====================
Global Styles
==================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.grid {
  display: grid;
}

/* ====================
Typography
==================== */

/* --- hero --- */

html {
  font-family:  Lato, sans-serif;
}

.section-hero {
  font-family: "Playfair Display", Calibri;
}

.hero-title,
.hero-txt,
.hero-small-txt{
  color: #FAF9F6;
  text-align: center;
}

.hero-small-txt {
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: 2px;
  opacity: .8;
}

.hero-title {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1;
}

.hero-txt {
  font-weight: 100;
  line-height: 1.5em;
  opacity: .8
}

.hero-btn {
  text-transform: uppercase;
  text-decoration: none;
  color: #FAF9F6;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
}

/* --- about us --- */

.business-info-container {
  font-style: normal;
}

.address,
.phone {
  text-decoration: none;
  color: black;
}

.info-container {
  font-family: sans-serif;
  align-self: flex-start;
}

.address-txt,
.phone-txt,
.hours-txt {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.25rem;
}

.address-info,
.phone-info,
.hours-line {
  font-size: .9rem;
  font-weight: 100;
  opacity: .7;
}

.about-us-title,
.about-us-txt {
  font-family: Lato, sans-serif;
}

.about-us-title {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.25
}

.about-us-txt {
  opacity: .9;
  line-height: 1.2;
  font-weight: 300;
}

/* --- image banner --- */

.img-banner-txt-one,
.img-banner-txt-two,
.img-banner-txt-three {
  color: white;
  font-size: 2rem;
  font-family: "Playfair Display", Calibri;
}

/* ====================
Styling
==================== */

/* --- hero --- */

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-logo {
  height: 8rem;
  text-align: center;
  margin-block: .5em;
}

.section-hero {
  background-image: url(./img/barber-hero.jpg), linear-gradient(to bottom, #0c1206f5 10%, #0c12063c  40%, #0c1206f5 90%);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100dvh;
  position: relative;
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  margin-bottom: 5rem;
}

.hero-title {
  margin-bottom: .5em;
}

.hero-btn {
  display: inline-block;
  margin-block: 1em;
  margin-inline: auto;
  padding: .75em 4em;
  border: 2px solid #19270c;
  background-color: #19270c;
  transition: background-color .5s;
  border-radius: 5px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: transparent;
}

.social-link {
  display: inline-block;
  margin-bottom: 1.5rem;
}

.hero-instagram {
  color: white;
}

/* --- about us --- */

.section-about {
  padding: 3rem 1rem;
  background-color: #c9e0b5;
}

.business-info-container {
  border-radius: 20px;
  background-color: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.business-info-container,
.about-img {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.304);
}

.address,
.phone,
.hours {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 300px;
}

.svg-wrapper {
  border: 1px solid #324b1a;
  border-radius: 15px;
  align-self: start;
  padding: 10px;
}

.address-svg-wrapper {
  padding: 10px 10px 7px 10px;
}

.phone-svg-wrapper {
  padding: 10px 10px 6px 10px;
}

.hours-svg-wrapper {
  padding: 10px 9px 7px 10px;
}

.address-svg,
.phone-svg,
.hours-svg {
  color: #324b1a;
}

.address-txt,
.phone-txt,
.hours-txt {
  margin-bottom: .25rem;
}

.about-img {
  width: 100%;
  border-radius: 20px;
  margin-block: 2rem .75rem;
}

.about-us-title {
  margin-bottom: .25em;
}

/* --- services --- */

.section-services {
  padding: 3rem 1rem;
  background-color: #0b1a0c;
}

.services-info {
  background-color: #372e229a;
  border-radius: 20px;
  padding: 1.5rem;
}

/* --- banner section --- */

.img-banner-container-one,
.img-banner-container-two,
.img-banner-container-three {
  height: 250px;
  overflow: hidden;
  grid-template: 1rem 1fr 1rem / 1rem 1fr 1rem;
  background-color: #fff;
  transition: background-color .3s;
}

.img-banner-container-one:hover,
.img-banner-container-two:hover,
.img-banner-container-three:hover {
  background-color: #000;
}
 
.img-banner-container-one:not(:hover),
.img-banner-container-two:not(:hover),
.img-banner-container-three:not(:hover){
  transition: background-color .8s;
}

.img-banner-container-one img,
.img-banner-container-two img,
.img-banner-container-three img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  transition: transform 2.5s, opacity .8s;
  opacity: .85;
  display: block;
  width: 100%;
}

.img-banner-container-one img:hover,
.img-banner-container-two img:hover,
.img-banner-container-three img:hover {
  transform: scale(1.1);
  opacity: .5;
}

.img-banner-txt-one,
.img-banner-txt-two,
.img-banner-txt-three {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s;
}

.img-banner-txt-appear {
  opacity: 1;
}


/* ====================
Media Queries
==================== */

@media (min-width: 400px) {

  .hero-title {
    font-size: 3rem;
    margin-bottom: .5em;
  }
  .hero-small-txt {
    font-size: 1rem;
  }
  .hero-txt {
    font-size: 1.2rem;
  }
  .hero-btn {
    font-size: 1.5rem;
  }

  .hero-instagram {
    height: 50px;
    width: 50px;
  }

}